body {
  background: rgb(95, 92, 16);
  background: linear-gradient(
    90deg,
    rgba(95, 92, 16, 1) 0%,
    rgba(223, 234, 28, 1) 52%,
    rgba(95, 92, 16, 1) 100%
  );
}

.todo {
  display: flex;
  margin: 30px 0 30px 50px;
}

.block {
  background-color: #234545;
  width: 270px;
  height: 370px;
  text-align: center;
  border-radius: 30px;
}

.editBlock {
  display: none;
  background-color: #234545;
  width: 270px;
  height: 340px;
  text-align: center;
  border-radius: 30px;
  margin-left: 30px;
}

.h1 {
  color: #fff;
  font-family: "Montserrat";
}

.input1,
.input2,
.input3 {
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.input1:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px #969696, -5px -5px 30px #ffffff;
}
.input2:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px #969696, -5px -5px 30px #ffffff;
}
.input3:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px #969696, -5px -5px 30px #ffffff;
}

/* .input1,
.input2,
.input3 {
  margin: 10px;
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  padding: 4px 10px;
  border-radius: 5px;
} */
.createBtn {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  font-size: 20px;
  background-color: cadetblue;
  color: #234545;
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: "sans - serif";
}
.createBtn:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px cadetblue, -5px -5px 30px cadetblue;
}

.editBtn {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  font-size: 20px;
  background-color: cadetblue;
  color: #234545;
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: "sans - serif";
}

.editBtn:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px cadetblue, -5px -5px 30px cadetblue;
}

.openBtn {
  margin-top: 10px;
  width: 140px;
  height: 40px;
  font-size: 20px;
  background-color: cadetblue;
  color: #234545;
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: "sans - serif";
}

.openBtn:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px cadetblue, -5px -5px 30px cadetblue;
}

.list {
  display: none;
  background-color: #234545;
  width: 550px;
  height: 340px;
  text-align: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow-y: scroll;
  margin-left: 30px;
}

.list::-webkit-scrollbar {
  width: 7px;
  background-color: #234545;
}

.list::-webkit-scrollbar-thumb {
  background-color: cadetblue;
  border-radius: 3px;
}

.info {
  background-color: cadetblue;
  display: flex;
  height: 70px;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin: 12px auto;
}

.info:hover {
  box-shadow: inset 2px -2px 20px #234545,
    inset -2px 2px 20px #234545;
  box-shadow: inset 2px 2px 20px #234545,
    inset -2px -2px 20px #234545;
}

.text {
  width: 250px;
  display: block;
  text-align: start;
}

.p1,
.p2 {
  margin: 0;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
}

.img {
  width: 50px;
  height: 50px;
}

.image {
  height: 100%;
  border-radius: 10px;
}

.del {
  position: relative;
  display: inline-block;
  padding: 5px 5px 2px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #234545;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #234545;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #234545;
}

.del:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #234545;
}

.del:active {
  transform: scale(0.9);
}

.edit {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  padding: 5px 5px 2px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #234545;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #234545;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #234545;
}

.edit:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #234545;
}

.edit:active {
  transform: scale(0.9);
}

.btns {
  width: 50px;
}

/* .del {
  background-color: #234545;
  color: cadetblue;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 15px;
}

.del:hover {
  color: #fff;
  background-color: #091616;
} */

.fon {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: aqua;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  bottom: 0;
  left: -150px;
  z-index: -50;
  opacity: 0.5;
}

.fon1 {
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: aquamarine;
  top: -200px;
  right: 0;
  z-index: -50;
  border-bottom-left-radius: 200px;
  opacity: 0.4;
}

.fon2 {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -50;
  background-color: yellowgreen;
  opacity: 0.4;
  top: 230px;
  right: 300px;
  border-radius: 100%;
}

.fon3 {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -50;
  background-color: forestgreen;
  opacity: 0.4;
  top: -150px;
  left: 120px;
  border-radius: 100%;
}

.nit1 {
  position: absolute;
  top: 83px;
  left: 130px;
  width: 818px;
  height: 225px;
  border: 5px solid #234545;
  z-index: -40;
}

.inputUpdate1,
.inputUpdate2,
.inputUpdate3 {
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.inputUpdate1:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px #969696, -5px -5px 30px #ffffff;
}
.inputUpdate2:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px #969696, -5px -5px 30px #ffffff;
}
.inputUpdate3:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 30px #969696, -5px -5px 30px #ffffff;
}
